@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Permanent+Marker&display=swap");
body {
  background-color: #DEB6AB;
  width: 100vw;
  height: 100vh;
}

.header {
  color: #F8ECD1;
  margin-left: 5vw;
  margin-top: -5vw;
}
.header__h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 10vw;
  text-shadow: 1vw 1vw 1vw #85586F;
}
.header__img {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 7px 10px 10px #85586F;
  border-radius: 50%;
}
.header__slogan {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 5vw;
}

.main {
  margin-left: -2vw;
  margin-right: -2vw;
  font-family: "Dosis", sans-serif;
  font-weight: 200;
}
.main__divlol--bg {
  background: url(images/Lol-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divSubnautica--bg {
  background: url(images/Subnautica-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divTotalWar--bg {
  background: url(images/TotalWar-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divDragonAge--bg {
  background: url(images/DragonAge-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divTheWitcher--bg {
  background: url(images/TheWitcher-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divGenshin--bg {
  background: url(images/Genshin-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divSkyrim--bg {
  background: url(images/Skyrim-wallpaper.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divAgeOf--bg {
  background: url(images/AgeOf-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divTheSims--bg {
  background: url(images/Sims-wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divAssassin--bg {
  background: url(images/Assassin-wallpaper.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__divAll {
  display: grid;
  grid-template-columns: 1fr 0.3fr repeat(4, 1fr) 0.3fr 1fr;
  grid-template-rows: 1fr repeat(2, 0.5fr) 1fr 0.5fr repeat(3, 1fr) repeat(3, 0.5fr) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 120vh;
}
.main__divAll__img {
  grid-area: 2/3/5/4;
  position: relative;
  z-index: 1;
  box-shadow: 7px 10px 10px #85586F;
}
.main__divAll__button {
  grid-area: 10/5/12/7;
  position: relative;
  background-color: #85586F;
  font-family: "Permanent Marker", cursive;
  color: #F8ECD1;
  font-size: 3vw;
  border-radius: 5vw;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2vw solid #DEB6AB;
  box-shadow: 2vw 2vw 5vw #AC7D88;
}
.main__divAll__card {
  height: 80vh;
  border-radius: 10vw;
  background-color: rgba(248, 236, 209, 0.7);
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
  grid-area: 3/2/11/8;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr 1fr;
  grid-template-rows: 0.5fr repeat(2, 0.25fr) 1fr 0.25fr 3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.main__divAll__h3 {
  grid-area: 1/3/2/7;
  margin-left: 5vw;
  color: #482f3c;
  font-family: "Permanent Marker", cursive;
  font-size: 5vw;
}
.main__divAll__h4__date {
  grid-area: 2/6/3/7;
  background-color: #DEB6AB;
  border-radius: 2vw;
  color: #AC7D88;
  margin-top: -4vw;
  margin-bottom: 10vw;
  padding: 2vw;
  font-size: 4vw;
}
.main__divAll__h4__dev {
  grid-area: 2/3/3/6;
  margin-left: 5vw;
  margin-top: 0;
  margin-bottom: 0vw;
  color: #482f3c;
  font-size: 3vw;
}
.main__divAll__h4__publi {
  grid-area: 3/3/4/6;
  margin-left: 5vw;
  margin-top: -7vw;
  color: #482f3c;
  font-size: 3vw;
}
.main__divAll__span {
  grid-area: 4/1/5/7;
  text-align: left;
  background-color: #AC7D88;
  border-radius: 5vw 5vw 0vw 0vw;
  padding: 4vw 2vw 5vw 2vw;
  margin-top: 0vw;
  margin-bottom: 0;
  color: #F8ECD1;
  font-size: 4vw;
}
.main__divAll__p {
  grid-area: 6/1/7/7;
  text-align: center;
  background-color: #AC7D88;
  border-radius: 0vw 0vw 5vw 5vw;
  padding: 4vw 2vw 5vw 2vw;
  margin-top: -10vw;
  color: #482f3c;
  font-size: 4vw;
}/*# sourceMappingURL=style.css.map */