//polices
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;700&family=Permanent+Marker&display=swap');

//variables
$purple: #85586F;
$white: #F8ECD1;
$beige: #DEB6AB;
$rose: #AC7D88;

//mixins
@mixin purple-darken {
    color : darken($purple, 20%);
}
@mixin wallpaper {
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: $beige;
    width: 100vw;
    height: 100vh;
}

.header {
    color: $white;
    margin-left: 5vw;
    margin-top: -5vw;
    &__h1 {
        font-family: 'Permanent Marker', cursive;
        font-size: 10vw;
        text-shadow: 1vw 1vw 1vw $purple;

    }
    &__img {
        position: absolute;
        right: 0;
        top: 0;
        box-shadow: 7px 10px 10px $purple;
        border-radius: 50%;
    }
    &__slogan {
        font-family: 'Dosis', sans-serif;
        font-weight: 700;
        font-size: 5vw;
    }
}

.main{
    margin-left: -2vw;
    margin-right: -2vw;
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    &__divlol--bg {
        background: url(images/Lol-wallpaper.jpeg);
        @include wallpaper;
    }
    &__divSubnautica--bg {
        background: url(images/Subnautica-wallpaper.jpeg);
        @include wallpaper;
    }
    &__divTotalWar--bg {
        background: url(images/TotalWar-wallpaper.jpeg);
        @include wallpaper;
    }
    &__divDragonAge--bg {
        background: url(images/DragonAge-wallpaper.jpeg);
        @include wallpaper;
    }
    &__divTheWitcher--bg {
        background: url(images/TheWitcher-wallpaper.jpeg);
        @include wallpaper;
    }
    &__divGenshin--bg {
        background: url(images/Genshin-wallpaper.jpeg);
        @include wallpaper;
    }
    &__divSkyrim--bg {
        background: url(images/Skyrim-wallpaper.webp);
        @include wallpaper;
    }
    &__divAgeOf--bg {
        background: url(images/AgeOf-wallpaper.jpeg);
        @include wallpaper;
    }
    &__divTheSims--bg {
        background: url(images/Sims-wallpaper.jpeg);
        @include wallpaper;
    }
    &__divAssassin--bg {
        background: url(images/Assassin-wallpaper.webp);
        @include wallpaper;
    }
    &__divAll {
        display: grid;
        grid-template-columns: 1fr 0.3fr repeat(4, 1fr) 0.3fr 1fr;
        grid-template-rows: 1fr repeat(2, 0.5fr) 1fr 0.5fr repeat(3, 1fr) repeat(3, 0.5fr) 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 120vh;
        &__img {
            grid-area: 2 / 3 / 5 / 4;
            position: relative;
            z-index: 1;
            box-shadow: 7px 10px 10px $purple;
            width: auto;
            height: 22vh;
        }
        &__button {
            grid-area: 10 / 5 / 12 / 7;
            position: relative;
            background-color: $purple;
            font-family: 'Permanent Marker', cursive;
            color: $white;
            font-size: 3vw;
            border-radius: 5vw;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2vw solid $beige;
            box-shadow: 2vw 2vw 5vw $rose;
        }
        &__card {
            height: 80vh;
            border-radius: 10vw;
            background-color: rgba(248, 236, 209, .7);
            padding-left: 5vw;
            padding-right: 5vw;
            padding-bottom: 5vw;
            grid-area: 3 / 2 / 11 / 8;
            display: grid;
            grid-template-columns: repeat(4, 1fr) 0.5fr 1fr;
            grid-template-rows: 0.5fr repeat(2, 0.25fr) 1fr 0.25fr 3fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
        &__h3 {
            grid-area: 1 / 3 / 2 / 7;
            margin-left: 5vw;
            @include purple-darken;
            font-family: 'Permanent Marker', cursive;
            font-size: 5vw;
        }
        &__h4__date {
            grid-area: 2 / 6 / 3 / 7;
            background-color: $beige;
            border-radius: 2vw;
            color: $rose;
            margin-top: -4vw;
            margin-bottom: 10vw;
            padding: 2vw;
            font-size: 4vw;
        }
        &__h4__dev {
            grid-area: 2 / 3 / 3 / 6;
            margin-left: 5vw;
            margin-top: 0;
            margin-bottom: 0vw;
            @include purple-darken;
            font-size: 3vw;
        }
        &__h4__publi {
            grid-area: 3 / 3 / 4 / 6;
            margin-left: 5vw;
            margin-top: -7vw;
            @include purple-darken;
            font-size: 3vw;
        }
        &__span {
            grid-area: 4 / 1 / 5 / 7;
            text-align: left;
            background-color: $rose;
            border-radius: 5vw 5vw 0vw 0vw;
            padding: 4vw 2vw 5vw 2vw;
            margin-top: 0vw;
            margin-bottom: 0;
            color: $white;
            font-size: 4vw;
        }
        &__p {
            grid-area: 6 / 1 / 7 / 7;
            text-align: center;
            background-color: $rose;
            border-radius: 0vw 0vw 5vw 5vw;
            padding: 4vw 2vw 5vw 2vw;
            margin-top: -10vw;
            @include purple-darken;
            font-size: 4vw;
        }
    }
}
