//variables
$purple: #85586F;
$white: #F8ECD1;
$beige: #DEB6AB;
$rose: #AC7D88;

//mixins
@mixin purple-darken {
    color : darken($purple, 20%);
}

body {
    background-color: $beige;
    width: 100vw;
    height: 100vh;
}

.main{
    margin-left: -2vw;
    margin-right: -2vw;
    &__divlol--bg {
        background: url(images/Soraka_27.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        }  
    &__divAll {
        display: grid;
        grid-template-columns: 1fr 0.3fr repeat(4, 1fr) 0.3fr 1fr;
        grid-template-rows: 1fr repeat(2, 0.5fr) 1fr 0.5fr repeat(3, 1fr) repeat(3, 0.5fr) 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100vh;
        &__imgLol {
            grid-area: 2 / 3 / 5 / 4;
            position: relative;
            z-index: 1;
            box-shadow: 7px 10px 10px $purple;
        }
        &__card {
            height: 70vh;
            border-radius: 10vw;
            background-color: rgba(248, 236, 209, .7);
            padding-left: 5vw;
            padding-right: 5vw;
            padding-bottom: 5vw;
            grid-area: 3 / 2 / 11 / 8;
            display: grid;
            grid-template-columns: repeat(4, 1fr) 0.5fr 1fr;
            grid-template-rows: 0.5fr repeat(2, 0.25fr) 1fr 0.25fr 3fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
        &__h3 {
            grid-area: 1 / 3 / 2 / 7;
            margin-left: 3vw;
            @include purple-darken;
        }
        &__h4__date {
            grid-area: 2 / 6 / 3 / 7;
            background-color: $beige;
            border-radius: 2vw;
            color: $rose;
            margin-top: -4vw;
            margin-bottom: 10vw;
            padding: 2vw;
        }
        &__h4__dev {
            grid-area: 2 / 3 / 3 / 5;
            margin-left: 3vw;
            margin-top: 0;
            margin-bottom: 0vw;
            @include purple-darken;
        }
        &__h4__publi {
            grid-area: 3 / 3 / 4 / 5;
            margin-left: 3vw;
            margin-top: -6vw;
            @include purple-darken;
        }
        &__span {
            grid-area: 4 / 1 / 5 / 7;
            text-align: left;
            background-color: $rose;
            border-radius: 5vw 5vw 0vw 0vw;
            padding: 4vw 2vw 5vw 2vw;
            margin-bottom: 0;
            color: $white;
        }
        &__p {
            grid-area: 6 / 1 / 7 / 7;
            text-align: center;
            background-color: $rose;
            border-radius: 0vw 0vw 5vw 5vw;
            padding: 4vw 2vw 5vw 2vw;
            margin-top: -5vw;
            @include purple-darken;
        }
    }
}
